{% extends "base.html" %}
{% load static %}

{% block content %}
<br/>
<br/>
<br/>
<h2 class="text-center">Bid Screen</h2>
 
<div class="card" style="width: 40%;margin-left: 30%;">
    <div class="upper">
      <img src="{% static '/images/LogoT10.jpeg' %}" style="width: 10%;" class="img-fluid">
    </div>
    <div class="user text-center">
      <div class="profile">
     <img src="/static/{{random_object.Player_name.Profile_Pic}}" class="rounded-circle" width="80">
      </div>
    </div>
    <div class="mt-5 text-center" >
        
      <h4 class="mb-0" style="color: #e3c268;"><b>{{ random_object.Player_name }}</b></h4>
      <div class="row">
        <div class="col-6" style="text-align: right; color: #e3c268;">
            Role :
        </div>
        <div class="col-6" style="text-align: left; color: #e3c268;">
            {{ random_object.Player_name.Role }}
        </div>

      </div>
      <div class="row">
        <div class="col-6" style="text-align: right; color: #e3c268;">
            Batting style :
        </div>
        <div class="col-6" style="text-align: left; color: #e3c268;">
            {{ random_object.Player_name.Batting_style }}
        </div>

      </div>
      <div class="row">
        <div class="col-6" style="text-align: right; color: #e3c268;">
            Bowling style :
        </div>
        <div class="col-6" style="text-align: left; color: #e3c268;">
            {{ random_object.Player_name.Bowling_style }}
        </div>
      </div>              
    </div>
     
   </div>
   <br/>


{% if user.is_superuser %}
<form action="{% url 'Bid_Screen' %}" method="POST">
    <a href="{% url 'Bid_Screen_new_Player' %}" class="btn btn-primary " style="text-align: center; margin-left: 45%;">Next Player</a> 
</form>

<a href="{% url 'Bid_Screen' %}" class="btn btn-success " style="text-align: center;">Sold</a>
<a href="{% url 'Bid_Screen' %}" class="btn btn-danger " style="text-align: center;">UnSold</a>
{% endif %}
{% endblock content %}