{% extends "base.html" %}
{% block content %}
<br/>
<br/>
<br/>
<div class="container">
    <div class="row">
      {% if user.is_superuser %}
      {% else %}


        <div >
            <div class="card heading" style="background-color: rebeccapurple;">
                <p class="card-text heading">Join Auction for biding players while T-10 auction occurs</p>
                <div class="card-body d-flex">            
                    <div>
                        <a href="{% url 'Bid_Screen' %}" class="btn btn-primary" style="text-align: center;">Join Auction</a>
                    </div>
                    &nbsp;&nbsp;
                    <div >
                        <a href="#" class="btn btn-primary" style="text-align: center;">My Auction</a>
                    </div> 
                </div>
            </div>

        </div>
        {% endif %}
        &nbsp;&nbsp;
        <div>
            <div class="card" style="background-color: aliceblue;" >
                  <div class="card-body d-flex">
                  
                  {% if user.is_superuser %}
                    <form action="{% url 'Bid_Screen_new_Player' %}" style="margin-left: 5px;" method="POST">
                        <button  class="btn btn-primary " name="StartBid"   style="text-align: center;" type="submit">Start Bid</button>
                    </form>
                    &nbsp;
                    <a href="{% url 'players_csv' %}" class="btn btn-primary" style="text-align: center;">Players ExcelSheet</a>
                    &nbsp;
                    <a href="{% url 'Sold_players_csv' %}" class="btn btn-primary" style="text-align: center;">Sold Players ExcelSheet</a>
                    &nbsp;
                    <a href="{% url 'Unsold_players_csv' %}" class="btn btn-primary" style="text-align: center;">UnSold Players ExcelSheet</a>
                    &nbsp;
                    <a href="{% url 'GeneratePdf' %}" class="btn btn-primary">REGISTERED Players PDF</a>


                  {% else %}
                    <a href="{% url 'profile' %}" class="btn btn-primary" style="text-align: center;">Create Team</a>
                  {% endif %}
                </div>
            </div>
            
        </div>
    </div>
    <br/>
    <div class="row">
        <div >
            <h2 class="heading" style="text-align: center;">Important Dates</h2>
            <table class="table table-hover table-bordered">
              <thead>
                <tr class="heading">
                  <th >Event</th>
                  <th >Start Date</th>
                  <th >End Date</th>
                </tr>
              </thead>
              <tbody>
                {% for Events in ImportantDate %}
                  <tr style="color: aliceblue;">
                    <td>{{Events.EVENT}}</td>
                    {% if Events.Start_Time or Events.End_Time%}
                    <td>{{Events.Start_Date }} {{ Events.Start_Time }}</td>
                    <td>{{Events.End_Date}} {{ Events.End_Time }}</td>
                    {% else%}
                    <td>{{Events.Start_Date }}</td>
                    <td>{{Events.End_Date}}</td>
                    {% endif%}
                  </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        
    </div>
    <div class="row">
        <p style=" text-align: center;" class="heading">Match Videos</p>
        
          {% for Match_Videos in Videos %}
          <div class="card" style="width: 360px;">
            <iframe class="embed-responsive-item"  width="345" height="315" src="{{Match_Videos.Youtube_Link}}" title="YouTube video player" 
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
            <div class="card-body">
              <h5 class="card-title"  style="color:#2A6FAB; font-family: Merriweather;font-size: 20px;">{{Match_Videos.Title_Name}}</h5>
            </div>
          </div>
          &nbsp;
          {% endfor %}   
        
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {% if Videos.has_previous %}
            <li class="page-item"><a href="?page=1"  class="page-link">&laquo First</a></li>
            <li class="page-item"><a href="?page={{Videos.previous_page_number}}"  class="page-link"> Previous</a></li>
            {% endif %}      
            {% for i in nums %}
             <li class="page-item"><a class="page-link" href="?page={{forloop.counter }}">{{forloop.counter}}</a></li>
            {% endfor%}
            {% if Videos.has_next %}
            <li class="page-item"><a href="?page={{ Videos.next_page_number }}"  class="page-link"> Next</a></li>
            <li class="page-item"><a href="?page={{ Videos.paginator.num_pages }}"  class="page-link">Last &raquo </a></li>
            {% endif %}
          </ul>
        </nav>

    </div>
</div>



{% endblock content %}