{% extends "base.html" %}

{% block content %}
<br/>
<br/>
<br/>
<br/>
<div class="container">
    <div class="row">
        <div >
            <div class="card" style="width: 20rem;">
                <p class="card-text">Join Auction for biding players while T-10 auction occurs</p>
                <div class="card-body d-flex"> 
                    
                    <div>
                        <a href="#" class="btn btn-primary" style="text-align: center;">Join Auction</a>
                    </div>
                    &nbsp;&nbsp;
                    <div >
                        <a href="#" class="btn btn-primary" style="text-align: center;">My Auction</a>
                    </div>
                    
                   
                </div>
            </div>

        </div>
        &nbsp;&nbsp;
        <div>
           
            <div class="card" style="width: 9rem; ">
                <div class="card-body">
                <a href="{% url 'profile' %}" class="btn btn-primary" style="text-align: center;">Create Team</a>
                </div>
            </div>

        </div>
    </div>
</div>



{% endblock content %}