
{% extends "base.html" %}
{% load static %}

{% block content %}
<style>


       .card{
        width: 320px;
        border: none;
        border-radius: 15px;
        padding: 8px;
        background-color:#5b92eb;
        height: 320px;
       }
       .upper{
        height: 100px;
       }
       .upper img{
        width: 25%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

       }
       .user{
        position: relative;
       }
       .profile img{
        height: 80px;
        width: 80px;
        margin-top:2px;
       }
       .profile{
        position: absolute;
        top:-50px;
        left: 38%;
        height: 90px;
        width: 90px;
        border:3px solid #fff;
        border-radius: 50%;
       }
</style>

<br/>
<br/>
<br/>
<h2 class="heading" style="text-align: center;">Registered Players</h2>
<div class="container">
  <form class="form-inline my-2 my-lg-0"  action="{% url 'Players' %}" method="GET">
    <div class="row">
      <div class="col-8">
        <input class="form-control mr-sm-2" type="text" name="query" placeholder="Search" aria-label="Search">

      </div>
      <div class="col-4">
        <button class="btn btn-outline-success my-2 my-sm-0" name="search" type="submit">Search</button>
      </div>
      

    </div>
   
   
  </form>
<br>


<div class="container" style="align-items: left;">
    {% for players_list in players_paginaton %}
    
        <div class="card">
            <div class="upper">
              <img src="{% static '/images/LogoT10.jpeg' %}" class="img-fluid">
            </div>
            <div class="user text-center">
              <div class="profile">
             <img src="/static/{{players_list.Profile_Pic}}" class="rounded-circle" width="80">
              </div>
            </div>
            <div class="mt-5 text-center" >
                
              <h4 class="mb-0" style="color: #e3c268;"><b>{{ players_list.name }}</b></h4>
              <!-- <h4 class="mb-0">{{ players_list.Profile_Pic }}</h4>-->
              <div class="row">
                <div class="col-6" style="text-align: right; color: #e3c268;">
                    Role :
                </div>
                <div class="col-6" style="text-align: left; color: #e3c268;">
                    {{ players_list.Role }}
                </div>

              </div>
              <div class="row">
                <div class="col-6" style="text-align: right; color: #e3c268;">
                    Batting style :
                </div>
                <div class="col-6" style="text-align: left; color: #e3c268;">
                    {{ players_list.Batting_style }}
                </div>

              </div>
              <div class="row">
                <div class="col-6" style="text-align: right; color: #e3c268;">
                    Bowling style :
                </div>
                <div class="col-6" style="text-align: left; color: #e3c268;">
                    {{ players_list.Bowling_style }}
                </div>
              </div>              
            </div>
             
           </div>
    
       &nbsp; &nbsp;
    
    {% endfor %}    
  </div>
  <br/>
  <div class="row">
    <nav aria-label="Page navigation example">
      <ul class="pagination flex-wrap">
        {% if players_paginaton.has_previous %}
        <li class="page-item"><a href="?page=1"  class="page-link">&laquo First</a></li>
        <li class="page-item"><a href="?page={{players_paginaton.previous_page_number}}"  class="page-link"> Previous</a></li>
        {% endif %}      
        {% for i in nums %}
         <li class="page-item"><a class="page-link" href="?page={{forloop.counter }}">{{forloop.counter}}</a></li>
        {% endfor%}
        {% if players_paginaton.has_next %}
        <li class="page-item"><a href="?page={{ players_paginaton.next_page_number }}"  class="page-link"> Next</a></li>
        <li class="page-item"><a href="?page={{ players_paginaton.paginator.num_pages }}"  class="page-link">Last &raquo </a></li>
        {% endif %}
      </ul>
    </nav>

  </div>
   
</div>
{% endblock content %}