{% extends "index.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<br/>
<br/>
<br/>
<div class="container">
  <div class="card">
      <div class="card-header">
          <h2>Create Team</h2>
      </div>
      <div class="card-body">
          <form action="" method="POST" class="post-form" enctype="multipart/form-data">
          {% csrf_token %}
          {{ forms| crispy }}
          {% if is_team_creation_closed %}
          {% else %}
          <button type="submit" class="save btn btn-success">Submit</button>
          {% endif %}
          </form> 
      </div>
  </div>
</div>


{% endblock content %}