{% extends "index.html" %}
{% block content %}
{% load static %}
<br/>
<br/>
<br/>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="active"> Edit Profile </h2>
    <form method="post">
      {% csrf_token %}
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="Username">
      <input type="text" id="id_email" class="fadeIn second" name="id_email" placeholder="Email ID">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
  </div>
</div>

{% endblock content %}