{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

{% include 'partials/_alerts.html' %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Player Registration Form</h2>
        </div>
        <div class="card-body">
            <form action="" method="POST" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ forms| crispy }}
            <button type="submit" class="save btn btn-success">Submit</button>
            </form> 
        </div>
    </div>
</div>

{% endblock %}

