<style>
 .dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
</style>
<caption>players registartion</caption>
<table style=" border: 1px solid black;  border-collapse: collapse;">

    <tr>
        <th></th>
        <th colspan="3">player profile</th>
    </tr>
    <tr>
        <td rowspan = "6">
          profile pic
        </td>
         <td>
          
        </td>
        <td>
          
        </td>
        <td>
            
        </td>
    </tr>
    <tr>
        <td >
        
        </td>
        <td>
            pic
        </td>
        <td>
            name
        </td>
        <td>
            dinto
        </td>
    </tr>
    <tr>
        <td >
            
        </td>
        <td>
            phone pic
        </td>
        <td>
            phone
        </td>
        <td>
            9944477801
        </td>
    </tr>
    <tr>
        <td >   
        </td>
        <td>
            role pic
        </td>
        <td>
            role
        </td>
        <td>
            batsman
        </td>
    </tr>
    <tr>
        <td >

        </td>
        <td>
            Batting style pic
        </td>
        <td>
            Batting_style
        </td>
        <td>
            right hand
        </td>
    </tr>
    <tr>
        <td >

        </td>
        <td>
            
        </td>
        <td>
            <img  src="http://localhost:8000/static/images/icons/ball.png" width="15" height="20" alt="Bowling style"> Bowling_style
        </td>
        <td>
            right off spin
        </td>
    </tr>

    <tfoot>
        <tr> 
            <td>
                10
            </td>
        
            <th colspan= "3">BATTLE ON: AUG 11&12</th>
        </tr>
    </tfoot>
</table>


<span class="dot">12</span>