{% extends "base.html" %}

{% block content %}
<br/>
<br/>
<br/>
<div>
    <div class="card" style="width: 18rem; text-align: center; font-family: Merriweather;font-size: 22px; margin-left: 30%; margin-top: 1%;">
        <div class="card-body">
          <p class="card-text"><a class="nav-link" href="{% url 'players_regi' %}">Players Registration</a></p>
        

        </div>
      </div>
      <div>
        <p style="font-family: Merriweather;font-size: 22px;">Highlights</p>

      </div>
      
</div>


{% endblock content %}
